/** Navigation bar **/
.navbar {
  .navbar-nav {
    width: 100%;
    text-align: center;
    li {
      float: none;
      display: inline-block;
      h4 {
        padding-top: 5px;
      }
    }
  }
  img {
    max-height: 50px;
  }
  .nav-date {
    color: white;
  }
}

/** Container **/
.container {
  width: 98%;
}
#project-list_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 98%;

  #project-list {
    text-align: center;
    th {
      text-align: center;
    }
  }

  .days-left-current {
    background-color: yellow;
    padding: 3px;
  }
  .days-left-future {
    background-color: green;
    color: white;
    padding: 3px;
  }
  .days-left-past {
    background-color: red;
    color: white;
    padding: 3px;
  }
}

/*** Progress-bar borders ***/
.progress {
  height: auto;
  select {
    color: black;
  }
}
.progress-bar {
  padding-bottom: 5px;
}
.progress-bar-blank {
  background-color: #dddddd;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  color: black;
}
.progress-bar-primary {
  border-left: 1px solid #2d6a9f;
  border-right: 1px solid #2d6a9f;
  border-top: 1px solid #2d6a9f;
}
.progress-bar-success {
  border-left: 1px solid #357935;
  border-right: 1px solid #357935;
  border-top: 1px solid #357935;
}
.progress-bar-warning {
  border-left: 1px solid #d38312;
  border-right: 1px solid #d38312;
  border-top: 1px solid #d38312;
}

/** Project Create **/
#project-create {
  h1 {
    text-align: center;
  }
  h2 {
    margin-top: 0;
  }
}